
@using AppCvCshap.Models
@{
    ViewBag.Title = "MostrarDatos";
    //creamos variable
    List<CV> lista = ViewBag.Datos != null ? ViewBag.Datos : new List<CV>();
}

<center>
    <h1>Listado de alumnos</h1>
</center>
<br />
<!--"Lo que el usuario ve","La accion(controlador)","ControladorDondeEstaLaAccion"-->
<div class="btn btn-info mb-2">
@Html.ActionLink("Descargar CV# PDF", "ExportarPDF", "Alumno", new { @class = "btn btn-default" })
</div>
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Teléfono</th>
            <th scope="col">DUI</th>
            <th scope="col">Objetivo</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
            <th>Visualizar</th>
        </tr>
    </thead>
    <tbody>
        @if (lista.Count() > 0)
        {
            foreach (var a in lista)
            {
        <tr>
            <th scope="row">@a.idCv</th>
            <td>@a.nombre</td>
            <td>@a.apellido</td>
            <td>@a.telefono</td>
            <td>@a.dui</td>
            <td @if (a.idCv % 2 == 0) {
            <td class="table-info text-dark rounded text-center text-uppercase">@a.objetivoCV</td>
 }
        else
        {
            <td class="table-danger text-danger text-center rounded text-uppercase">@a.objetivoCV</td>
}>
        </td>

        <td>@Html.ActionLink("Actualizar", "CreateOrModifyCV", "Home", new { id = a.idCv }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Eliminar", "DeleteCV", "Home", new { id = a.idCv }, new { @class = "btn btn-danger" })</td>
        <td>@Html.ActionLink("Ver CV#", "ShowCVById", "Home", new { id = a.idCv }, new { @class = "btn btn-warning" })</td>
        </tr>

            }
        }
        else
        {
            <tr>
                <td>
                    <center>
                        <b>No hay resultados para mostrar</b>
                    </center>
                </td>
            </tr>
        }

    </tbody>
</table>