
@using AppCvCshap.Models
@{
    ViewBag.Title = "MostrarDatos";
    //creamos variable
    List<CV> lista = ViewBag.Datos != null ? ViewBag.Datos : new List<CV>();
}

<center class="mt-5">
    <h1 class="text-primary mt-5">Lista de los <strong class="wcv rounded">CV#</strong></h1>
</center>
<br />
<!--"Lo que el usuario ve","La accion(controlador)","ControladorDondeEstaLaAccion"
<div class="btn btn-info mb-2">
@Html.ActionLink("Descargar CV# PDF", "ExportarCVPDFById", "Alumno", new { @class = "btn btn-default fw-bold" })
</div>-->
<table class="table table-bordered border-primary rounded bg-dark text-white text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Teléfono</th>
            <th scope="col">DUI</th>
            <th scope="col">Objetivo</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
            <th>Visualizar</th>
        </tr>
    </thead>
    <tbody>
        @if (lista.Count() > 0)
        {
            foreach (var a in lista)
            {
        <tr>
            <th scope="row">@a.idCv</th>
            <td>@a.nombre</td>
            <td>@a.apellido</td>
            <td>@a.telefono</td>
            <td class="text-truncate">@a.dui</td>
             @if (a.idCv % 2 == 0) {
            <td class="table-info text-info bg-transparent rounded text-center text-uppercase fw-bold">@a.objetivoCV</td>
 }
        else
        {
            <td class="table-danger bg-transparent text-danger text-center rounded text-uppercase fw-bold">@a.objetivoCV</td>
        }
       

        <td>@Html.ActionLink("ACTUALIZAR", "CreateOrModifyCV", "Home", new { id = a.idCv }, new { @class = "btn btn-success" })</td>
        <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    ELIMINAR
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                ¿Eliminar Registro?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                @Html.ActionLink("Eliminar", "DeleteCVById", "Home", new { id = a.idCv }, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        <td>
            @*@Html.ActionLink("Ver CV#", "ShowCVById", "Home", new { id = a.idCv }, new { @class = "btn btn-warning" })*@
            <a class = "btn btn-warning" href="@Url.Action("ShowCVById","Home",new { id = a.idCv })">Ver CV#</a>
        </td>
        </tr>

            }
        }
        else
        {
            <tr>
                <td>
                    <center>
                        <div class="text-center center">
                            <h2 class="text-info">Quieres crear un CV#?</h2>
                            @Html.ActionLink("Crear CV#", "CreateOrModifyCV", "Home", new { @class = "btn btn-info" })
                        </div>
                    </center>
                </td>
            </tr>
        }

    </tbody>
</table>